.iconLeft{
margin:20px !important;
position: absolute;
top:10px;
left:10px
}
.iconRight{
    margin:20px !important;
    position: absolute;
    bottom:10px;
    right:10px
}
.seasonText{
display: flex;


}
.seasonDiv{
    border: 1px solid lightgray;
    margin:10px;
    position: relative;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winter{
    color: #5e5ec5;
    /* background: blue; */
}
.summer{
    color: red;
    background-color: orange;
}

